@charset "UTF-8";
@import "../helpers/variables";

//Transiciones
body,
.swiper-pagination-bullet,
div.day,
div.night {
	@include transition(background-color, 1s);
}

h1.day,
h1.night,
h3.day,
h3.night,
span,
p {
	@include transition(color, 1s);
}

path,
circle,
g {
	&.day,
	&.night {
		@include transition(fill, 1s);
	}
}

//Colores
body {
	&.day {
		background-color: $body-day;
	}

	&.night {
		background-color: $body-night;
	}
}

div {
	&.day {
		background-color: $div-day;
	}

	&.night {
		background-color: $div-night;
	}
}

h1, h2, h3, span, p {
	&.day {
		color: $texto-day;
	}

	&.night {
		color: $texto-night;
	}
}

#css3-logo {
	path.day {
		fill: $texto-day;
	}
	path.night {
		fill: $texto-night;
	}
}

#jquery-logo {

	#jquery-subtitulo {
		&.day {
			fill: $azul-oscuro-jquery;
		}
		&.night {
			fill: $blanco;
		}
	}

	.jquery-logo {
		&.day {
			fill: $azul-oscuro-jquery;
		}
		&.night {
			fill: $azul-claro-jquery;
		}
	}

	.jquery-titulo {
		&.day {
			fill: $gris-jquery;
		}
		&.night {
			fill: $blanco;
		}
	}
}

#mongodb-logo {
	path.day {
		fill: $gris-mongodb;
	}
	path.night {
		fill: $blanco;
	}
}

#nodejs-logo {

	.nodejs-titulo {
		&.day {
			fill: $gris-nodejs;
		}
		&.night {
			fill: $blanco;
		}
	}
}

#sass-logo {
	path.day {
		fill: $rosado-sass;
	}
	path.night {
		fill: $blanco;
	}
}

#wordpress-logo {
	g.day {
		fill: $gris-wordpress;
	}
	g.night {
		fill: $azul-wordpress;
	}
}

.swiper-pagination  {
	&.day .swiper-pagination-bullet {
		background-color: $negro;
	}
	&.night .swiper-pagination-bullet {
		background-color: $blanco;        
	}
}

.claro.day {
	display: inline;
}
.claro.night {
	display: none;
}
.oscuro.day {
	display: none;
}
.oscuro.night {
	display: inline;
}
