
//Colores básicos
$blue-dark: #00334d;
$blue-selected: #0288d1;
$white: #fff;
$black: #000;

//Colores de algunos logos
$wordpress-blue: #21759b;
$wordpress-gray: #464646;

$jquery-secondary-blue: #7acef4;
$jquery-primary-blue: #0769ad;
$jquery-black: #333;

$nodejs-gray: #333;

$sass-color--hopbush: #c69;
