
/// Mixture que define el tiempo de transición de una propiedad
/// @param $propiedad - Propiedad a la que se le aplicará la transición.
/// @param $duracion - Duración de la transición.
@mixin transition($propiedad, $duracion) {
	-o-transition: $propiedad $duracion;
	-ms-transition: $propiedad $duracion;
	-moz-transition: $propiedad $duracion;
	-webkit-transition: $propiedad $duracion;
	transition: $propiedad $duracion;
}

/// Mixin que alínea verticalmente los elementos de un contenedor.
/// @param $posicion - Posición en la que se alinearán los elementos.
@mixin vertical-align($posicion) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: $posicion;
	-ms-flex-pack: $posicion;
	-webkit-justify-content: $posicion;
	justify-content: $posicion;
	-webkit-box-align: $posicion;
	-ms-flex-align: $posicion;
	-webkit-align-items: $posicion;
	align-items: $posicion;
}