
//Colores básicos
$azul-oscuro: #00334d;
$azul-seleccion: #0288d1;
$blanco: #fff;
$negro: #000;

//Colores según horario
$body-dia: #cce4ff;
$body-noche: #000;
$div-dia: #eee;
$div-noche: #d4d4d4;
$texto-dia: #000;
$texto-noche: #fff;

//Colores de algunos logos
$azul-bitbucket: #172b4d;

$azul-wordpress: #21759b;
$gris-wordpress: #464646;

$azul-claro-jquery: #8dd1f5;
$azul-oscuro-jquery: #0d61a8;
$gris-jquery: #3b3835;

$gris-mongodb: #484748;

$gris-nodejs: #333;

$rosado-sass: #d06397;

//Fuentes
$titulo: 'Merienda One';
$parrafo: 'Ubuntu';