@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merienda+One|Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merienda+One|Ubuntu&display=swap");
a {
  cursor: pointer;
  transition: color 250ms; }
  a:hover {
    text-decoration: none; }

body {
  font-family: "Ubuntu", sans-serif, Arial;
  font-size: 16px;
  position: relative !important;
  overflow-x: hidden;
  padding-top: 50px; }

button {
  transition: background-color 500ms;
  background-color: #0288d1 !important;
  margin-top: 1em; }
  button:hover {
    background-color: #fff !important;
    color: #0288d1 !important; }

footer {
  background-color: #00334d;
  color: #fff;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-align: right; }
  footer .enlace-contacto {
    color: #fff;
    font-size: 2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    transition: color 250ms; }
    footer .enlace-contacto:hover {
      color: #0288d1;
      text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Merienda One", cursive; }

nav {
  background-color: #00334d !important;
  border: none !important;
  color: #fff; }
  nav li.active a {
    background-color: #0288d1 !important; }
  nav li a {
    color: #fff !important;
    text-align: center;
    transition: background-color 250ms; }
    nav li a:hover {
      background-color: #0288d1 !important; }
    nav li a.active {
      background-color: #0288d1 !important; }
  nav .dropdown {
    background-color: #00334d; }
    nav .dropdown.open a {
      background-color: #0288d1 !important; }
    nav .dropdown .dropdown-menu {
      background-color: #0288d1 !important;
      padding-top: 0;
      padding-bottom: 0;
      min-width: 101px; }
      nav .dropdown .dropdown-menu a {
        background-color: #00334d !important;
        color: #fff;
        transition: background-color 500ms; }
        nav .dropdown .dropdown-menu a:hover {
          background-color: #0288d1 !important; }
  nav .navbar-toggle {
    border: none; }
    nav .navbar-toggle .icon-bar {
      background-color: #fff !important; }
    nav .navbar-toggle:hover .icon-bar, nav .navbar-toggle:active .icon-bar, nav .navbar-toggle:focus .icon-bar {
      background-color: #0288d1 !important; }
  nav .navbar-collapse {
    border: none; }
    nav .navbar-collapse .navbar-nav {
      margin-top: 0;
      margin-bottom: 0; }

p {
  text-align: justify;
  text-indent: 2em; }
  @media (max-width: 575px) {
    p {
      text-align: center;
      text-indent: 0; } }

.swiper-container {
  width: 100%;
  height: 28em; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .swiper-container {
      height: 20em; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .swiper-container {
      height: 16em; } }
  @media (max-width: 767px) {
    .swiper-container {
      height: 19em; } }
  .swiper-container .swiper-button-prev,
  .swiper-container .swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    height: 100%;
    top: 1.4em;
    width: 4em;
    text-align: center; }
    .swiper-container .swiper-button-prev:hover span,
    .swiper-container .swiper-button-next:hover span {
      color: #0288d1; }
    .swiper-container .swiper-button-prev span,
    .swiper-container .swiper-button-next span {
      font-size: 5rem;
      transition: color 250ms; }
  .swiper-container .swiper-button-prev {
    left: 0; }
  .swiper-container .swiper-button-next {
    right: 0; }
  .swiper-container .swiper-pagination {
    background-color: transparent !important; }
  .swiper-container .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 767px) {
      .swiper-container .swiper-slide {
        display: flex;
        justify-content: initial;
        align-items: initial; } }

#svg-triforce {
  cursor: pointer;
  height: 2em;
  opacity: 0.6;
  transition: opacity 500ms;
  width: 2em;
  position: absolute;
  bottom: 6px;
  right: 20px; }
  #svg-triforce:hover {
    opacity: 1; }

/**
 * Sección Home
 */
section {
  padding-top: 2em;
  padding-bottom: 2em; }
  section#section-inicio h1 {
    margin-bottom: 0.5em; }
    @media (max-width: 767px) {
      section#section-inicio h1 {
        margin-top: 1rem; } }
  section#section-inicio div#acerca-de-mi {
    padding: 1.5em 1.5em 1em; }
  section#section-conocimientos .conocimientos-logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    margin-top: 2em; }
    @media (max-width: 767px) {
      section#section-conocimientos .conocimientos-logos-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        height: 264px; } }
    section#section-conocimientos .conocimientos-logos-container svg {
      cursor: pointer;
      height: 100%;
      padding-left: 0.15em;
      padding-right: 0.15em;
      max-height: 3.5em !important;
      transition: max-height 250ms; }
      @media (max-width: 767px) {
        section#section-conocimientos .conocimientos-logos-container svg {
          margin: 0.5rem; } }
      section#section-conocimientos .conocimientos-logos-container svg:hover {
        max-height: 5em !important; }
        @media (max-width: 767px) {
          section#section-conocimientos .conocimientos-logos-container svg:hover {
            max-height: 3.5em !important; } }
  section#section-conocimientos #conocimientos-detalles {
    font-size: 1.2em;
    margin-top: 2em;
    min-height: 2.51em;
    padding: 0.5em 0; }
    section#section-conocimientos #conocimientos-detalles #etiqueta {
      font-family: "Merienda One", cursive;
      opacity: 0; }
  section#section-portafolio {
    padding-bottom: 3em; }
    section#section-portafolio .portafolio-imagen img {
      height: auto; }
      @media (max-width: 991px) {
        section#section-portafolio .portafolio-imagen img {
          width: 28rem; } }
    section#section-portafolio .portafolio-detalles {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 21.1em;
      padding: 1em 1em 0.5em; }
      @media (min-width: 992px) and (max-width: 1199px) {
        section#section-portafolio .portafolio-detalles {
          height: 22.8rem; } }
      @media (min-width: 768px) and (max-width: 991px) {
        section#section-portafolio .portafolio-detalles {
          height: 13.3rem; } }
      @media (max-width: 767px) {
        section#section-portafolio .portafolio-detalles {
          height: auto; } }
      section#section-portafolio .portafolio-detalles .portafolio-titulo {
        font-family: "Merienda One", cursive;
        font-size: 2.2rem; }
      section#section-portafolio .portafolio-detalles a {
        display: inline-block; }
      section#section-portafolio .portafolio-detalles .portafolio-descripcion {
        margin-top: 1em; }

body,
.theme-container,
.swiper-pagination .swiper-pagination-bullet {
  transition: background-color 1000ms; }

.theme-text,
.swiper-button-prev .fa,
.swiper-button-next .fa {
  transition: color 1000ms; }

path.day, path.night,
circle.day,
circle.night,
g.day,
g.night {
  transition: fill 1000ms; }

body.day {
  background-color: #cce4ff; }
  body.day .theme-container {
    background-color: #eee; }
  body.day .theme-text {
    color: #000; }
  body.day .swiper-pagination .swiper-pagination-bullet {
    background-color: #000; }
  body.day .swiper-button-prev,
  body.day .swiper-button-next {
    color: #000; }
  body.day #css3-logo path.day {
    fill: #000; }
  body.day #jquery-logo #jquery-subtitulo.day {
    fill: #0769ad; }
  body.day #jquery-logo .jquery-logo.day {
    fill: #0769ad; }
  body.day #jquery-logo .jquery-titulo.day {
    fill: #333; }
  body.day #nodejs-logo .nodejs-titulo.day {
    fill: #333; }
  body.day #sass-logo path.day {
    fill: #c69; }
  body.day #wordpress-logo path.day {
    fill: #464646; }

body.night {
  background-color: #000; }
  body.night .theme-container {
    background-color: #d4d4d4; }
  body.night .theme-text {
    color: #fff; }
  body.night .swiper-pagination .swiper-pagination-bullet {
    background-color: #fff; }
  body.night .swiper-button-prev,
  body.night .swiper-button-next {
    color: #fff; }
  body.night #css3-logo path.night {
    fill: #fff; }
  body.night #jquery-logo #jquery-subtitulo.night {
    fill: #fff; }
  body.night #jquery-logo .jquery-logo.night {
    fill: #7acef4; }
  body.night #jquery-logo .jquery-titulo.night {
    fill: #fff; }
  body.night #nodejs-logo .nodejs-titulo.night {
    fill: #fff; }
  body.night #sass-logo path.night {
    fill: #fff; }
  body.night #wordpress-logo path.night {
    fill: #21759b; }
