@charset "UTF-8";
a {
  cursor: pointer; }

body {
  font-family: "Ubuntu", Arial;
  font-size: 16px;
  position: relative !important;
  overflow-x: hidden; }

button {
  background-color: #0288d1 !important;
  margin-top: 1em; }

footer {
  background-color: #00334d;
  color: #fff;
  padding-top: 2em;
  padding-bottom: 2em; }
  @media (max-width: 767px) {
    footer .footer-container {
      text-align: center; } }
  footer .footer-container .enlace-contacto {
    -o-transition: color 0.25s;
    -ms-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    color: #fff;
    font-size: 2em;
    padding-left: 0.2em;
    padding-right: 0.2em; }
    footer .footer-container .enlace-contacto:hover {
      color: #0288d1;
      text-decoration: none; }
  footer form textarea {
    resize: none; }
  footer form button {
    cursor: pointer;
    margin-top: 0em;
    width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Merienda One", Arial; }

nav {
  background-color: #00334d !important;
  border: none !important;
  color: #fff; }
  nav li.active a {
    background-color: #0288d1 !important; }
  nav li a {
    -o-transition: background-color 0.25s;
    -ms-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    transition: background-color 0.25s;
    color: #fff !important;
    text-align: center; }
    nav li a:hover {
      background-color: #0288d1 !important; }
  nav .dropdown {
    background-color: #00334d; }
    nav .dropdown.open a {
      background-color: #0288d1 !important; }
    nav .dropdown .dropdown-menu {
      background-color: #0288d1 !important; }
      nav .dropdown .dropdown-menu a {
        -o-transition: background-color 0.5s;
        -ms-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        transition: background-color 0.5s;
        background-color: #00334d !important;
        color: #fff; }
        nav .dropdown .dropdown-menu a:hover {
          background-color: #0288d1 !important; }
  nav .navbar-toggle {
    border: none; }
    nav .navbar-toggle .icon-bar {
      background-color: #fff !important; }

p {
  text-align: justify;
  text-indent: 2em; }
  @media (max-width: 575px) {
    p {
      text-align: center;
      text-indent: 0em; } }

.particles-js {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: -1; }

.swiper-container {
  width: 100%;
  height: 28em; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .swiper-container {
      height: 20em; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .swiper-container {
      height: 16em; } }
  @media (max-width: 767px) {
    .swiper-container {
      height: 19em; } }
  .swiper-container .swiper-button-prev,
  .swiper-container .swiper-button-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-image: none;
    height: 100%;
    top: 1.4em;
    width: 4em;
    text-align: center; }
    .swiper-container .swiper-button-prev:hover span,
    .swiper-container .swiper-button-next:hover span {
      color: #0288d1; }
    .swiper-container .swiper-button-prev span,
    .swiper-container .swiper-button-next span {
      -o-transition: color 0.25s;
      -ms-transition: color 0.25s;
      -moz-transition: color 0.25s;
      -webkit-transition: color 0.25s;
      transition: color 0.25s;
      font-size: 5rem; }
  .swiper-container .swiper-button-prev {
    left: 0; }
  .swiper-container .swiper-button-next {
    right: 0; }
  .swiper-container .swiper-pagination {
    background-color: transparent !important; }
  .swiper-container .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    @media (max-width: 767px) {
      .swiper-container .swiper-slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: initial;
        -ms-flex-pack: initial;
        -webkit-justify-content: initial;
        justify-content: initial;
        -webkit-box-align: initial;
        -ms-flex-align: initial;
        -webkit-align-items: initial;
        align-items: initial; } }

.alert {
  border: solid 1px #00334d;
  opacity: 0;
  min-width: 6em;
  margin-left: -125px;
  position: fixed;
  z-index: 1;
  right: 8%;
  top: 5em; }

#svg-triforce {
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
  height: 2em;
  opacity: 0.6;
  width: 2em;
  position: absolute;
  bottom: 6px;
  right: 20px; }
  #svg-triforce:hover {
    opacity: 1; }

body,
.swiper-pagination-bullet,
div.dia,
div.noche {
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -webkit-transition: background-color 1s;
  transition: background-color 1s; }

h1.dia,
h1.noche,
h3.dia,
h3.noche,
span,
p {
  -o-transition: color 1s;
  -ms-transition: color 1s;
  -moz-transition: color 1s;
  -webkit-transition: color 1s;
  transition: color 1s; }

path.dia, path.noche,
circle.dia,
circle.noche,
g.dia,
g.noche {
  -o-transition: fill 1s;
  -ms-transition: fill 1s;
  -moz-transition: fill 1s;
  -webkit-transition: fill 1s;
  transition: fill 1s; }

body.dia {
  background-color: #cce4ff; }

body.noche {
  background-color: #000; }

div.dia {
  background-color: #eee; }

div.noche {
  background-color: #d4d4d4; }

h1.dia, h2.dia, h3.dia, span.dia, p.dia {
  color: #000; }

h1.noche, h2.noche, h3.noche, span.noche, p.noche {
  color: #fff; }

#bitbucket-logo path.dia,
#bitbucket-logo circle.dia {
  fill: #172b4d; }

#bitbucket-logo path.noche,
#bitbucket-logo circle.noche {
  fill: #fff; }

#css3-logo path.dia {
  fill: #000; }

#css3-logo path.noche {
  fill: #fff; }

#jquery-logo #jquery-subtitulo.dia {
  fill: #0d61a8; }

#jquery-logo #jquery-subtitulo.noche {
  fill: #fff; }

#jquery-logo .jquery-logo.dia {
  fill: #0d61a8; }

#jquery-logo .jquery-logo.noche {
  fill: #8dd1f5; }

#jquery-logo .jquery-titulo.dia {
  fill: #3b3835; }

#jquery-logo .jquery-titulo.noche {
  fill: #fff; }

#mongodb-logo path.dia {
  fill: #484748; }

#mongodb-logo path.noche {
  fill: #fff; }

#nodejs-logo .nodejs-titulo.dia {
  fill: #333; }

#nodejs-logo .nodejs-titulo.noche {
  fill: #fff; }

#sass-logo path.dia {
  fill: #d06397; }

#sass-logo path.noche {
  fill: #fff; }

#wordpress-logo g.dia {
  fill: #464646; }

#wordpress-logo g.noche {
  fill: #21759b; }

.swiper-pagination.dia .swiper-pagination-bullet {
  background-color: #000; }

.swiper-pagination.noche .swiper-pagination-bullet {
  background-color: #fff; }

.claro.dia {
  display: inline; }

.claro.noche {
  display: none; }

.oscuro.dia {
  display: none; }

.oscuro.noche {
  display: inline; }

/**
 * Sección Home
 */
section {
  padding-top: 6em;
  padding-bottom: 2em; }
  @media (max-width: 767px) {
    section {
      padding-top: 2em; } }
  section#section-inicio h1 {
    margin-bottom: 0.5em; }
    @media (max-width: 767px) {
      section#section-inicio h1 {
        margin-top: 1rem; } }
  section#section-inicio div#acerca-de-mi {
    padding: 1.5em 1.5em 1em; }
  section#section-conocimientos .conocimientos-logos-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 5em;
    margin-top: 2em; }
    @media (max-width: 767px) {
      section#section-conocimientos .conocimientos-logos-container {
        display: -webkit-flex;
        /* Safari */
        -webkit-flex-wrap: wrap;
        /* Safari 6.1+ */
        display: flex;
        flex-wrap: wrap;
        margin-top: 0rem;
        height: auto; } }
    section#section-conocimientos .conocimientos-logos-container svg {
      -o-transition: max-height 0.25s;
      -ms-transition: max-height 0.25s;
      -moz-transition: max-height 0.25s;
      -webkit-transition: max-height 0.25s;
      transition: max-height 0.25s;
      cursor: pointer;
      height: 100%;
      padding-left: 0.15em;
      padding-right: 0.15em;
      max-height: 3.5em !important; }
      @media (max-width: 767px) {
        section#section-conocimientos .conocimientos-logos-container svg {
          margin: 0.5rem; } }
      section#section-conocimientos .conocimientos-logos-container svg:hover {
        max-height: 5em !important; }
        @media (max-width: 767px) {
          section#section-conocimientos .conocimientos-logos-container svg:hover {
            max-height: 3.5em !important; } }
  section#section-conocimientos #conocimientos-detalles {
    font-size: 1.2em;
    margin-top: 2em;
    min-height: 2.51em;
    padding: 0.5em 0em; }
    section#section-conocimientos #conocimientos-detalles #etiqueta {
      font-family: "Merienda One";
      opacity: 0; }
  section#section-portafolios {
    padding-bottom: 3em; }
    section#section-portafolios .portafolio-imagen img {
      height: auto; }
      @media (max-width: 991px) {
        section#section-portafolios .portafolio-imagen img {
          width: 28rem; } }
    section#section-portafolios .portafolio-detalles {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      height: 21.1em;
      padding: 1em 1em 0.5em; }
      @media (min-width: 992px) and (max-width: 1199px) {
        section#section-portafolios .portafolio-detalles {
          height: 22.8rem; } }
      @media (min-width: 768px) and (max-width: 991px) {
        section#section-portafolios .portafolio-detalles {
          height: 13.3rem; } }
      @media (max-width: 767px) {
        section#section-portafolios .portafolio-detalles {
          height: auto; } }
      section#section-portafolios .portafolio-detalles .portafolio-titulo {
        font-family: "Merienda One";
        font-size: 2.2rem; }
      section#section-portafolios .portafolio-detalles a {
        -o-transition: color 0.25s;
        -ms-transition: color 0.25s;
        -moz-transition: color 0.25s;
        -webkit-transition: color 0.25s;
        transition: color 0.25s;
        display: inline-block; }
        section#section-portafolios .portafolio-detalles a:hover {
          text-decoration: none; }
      section#section-portafolios .portafolio-detalles .portafolio-descripcion {
        margin-top: 1em; }
