@charset "UTF-8";

button {
  transition: background-color 500ms;
  background-color: #0288d1 !important;
  margin-top: 1em;

  &:hover {
    background-color: #fff !important;
    color: #0288d1 !important;
  }
}
