@charset "UTF-8";
@import "../helpers/colors";

footer {
	background-color: $blue-dark;
	color: $white;
	padding-top: 2em;
	padding-bottom: 2em;

	.footer-container {
		@media (max-width: 767px) {
	        text-align: center;
	    }
	    
		.enlace-contacto {
			color: $white;
			font-size: 2em;
			padding-left: 0.2em;
			padding-right: 0.2em;
			transition: color 250ms;

			&:hover {
				color: $blue-selected;
				text-decoration: none;
			}
		}

	}
}
