@charset "UTF-8";
@import "../helpers/colors";

nav {
  background-color: $blue-dark !important;
  border: none !important;
  color: $white;

  li {
    &.active a {
      background-color: $blue-selected !important;
    }

    a {
      color: $white !important;
      text-align: center;
      transition: background-color 250ms;

      &:hover {
        background-color: $blue-selected !important;
      }
    }
  }


  .dropdown {
    background-color: $blue-dark;

    &.open a {
      background-color: $blue-selected !important;
    }

    .dropdown-menu {
      background-color: $blue-selected !important;

      a {
        background-color: $blue-dark !important;
        color: $white;
        transition: background-color 500ms;

        &:hover {
          background-color: $blue-selected !important;
        }
      }
    }
  }

  .navbar-toggle {
    border: none;

    .icon-bar {
      background-color: $white !important;
    }

    &:hover,
    &:active,
    &:focus {
      .icon-bar {
        background-color: $blue-selected !important;
      }
    }
  }
}
