@charset "UTF-8";

#svg-triforce {
  cursor: pointer;
  height: 2em;
  opacity: 0.6;
  transition: opacity 500ms;
  width: 2em;

  position: absolute;
  bottom: 6px;
  right: 20px;

  &:hover {
  	opacity: 1;
  }
}
