@charset "UTF-8";
@import "../helpers/colors";

$body-day: #cce4ff;
$div-day: #eee;
$text-day: #000;

body.day {
  background-color: $body-day;

  .theme-container {
    background-color: $div-day;
  }
  .theme-text {
    color: $text-day;
  }

  .swiper-pagination  {
    .swiper-pagination-bullet {
      background-color: $black;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: $text-day;
  }

  #css3-logo {
    path.day {
      fill: $text-day;
    }
  }

  #jquery-logo {

    #jquery-subtitulo {
      &.day {
        fill: $jquery-primary-blue;
      }
    }

    .jquery-logo {
      &.day {
        fill: $jquery-primary-blue;
      }
    }

    .jquery-titulo {
      &.day {
        fill: $jquery-black;
      }
    }
  }

  #nodejs-logo {

    .nodejs-titulo {
      &.day {
        fill: $nodejs-gray;
      }
    }
  }

  #sass-logo {
    path.day {
      fill: $sass-color--hopbush;
    }
  }

  #wordpress-logo {
    path.day {
      fill: $wordpress-gray;
    }
  }
}
